@model IEnumerable<baseballStatistics.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Player List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit fa-lg" style="color: #EB6864;" title="Edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list fa-lg" style="color: #EB6864;" title="Details"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt fa-lg" style="color: #EB6864;" title="Delete"></i></a>
            </td>
        </tr>
        }
    <tr>
        <p><button type="button" class="btn btn-primary"><a asp-action="Create">Add New Player</a></button></p>
    </tr>
    </tbody>
</table>
